h2 {
    color: red;
    font-weight: 600
}

hr{
    border-color: black;
    font-size: 1px ;
}



  button{
    color: black
  }

  b{
    color: red;
  }

  .fluid{
    width:28rem !important;
    height: 22rem!important;
  
  
  }

 