.carousel-item img {
  height: 500px;
  object-fit: cover;
}



body {
  overflow-x: hidden;
}


.margin {
  margin-bottom: 7rem;
}

a:hover {
  color: red !important;

}


@media screen and (min-width:1024px) {
  #mtCarousel .carousel-item {
      height: 35rem;
  }

}


.container {
  --bs-gutter-x: 0rem;
  overflow-x: hidden;
}



.orizontal {
  border: 1px solid rgba(0, 0, 0, 0.529);
  margin: 3rem
}


.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

}

h1 {
  color: red;
  font-size: xx-large;
  font-weight: 700;
}

h3 {
  color: red;
  font-weight: 700;
  font-style: italic;
}


.start {
  padding: 0.5rem;
  text-align: start;


}

.red {
  color: red;
}
.offcanvas-title{
  color: red;
}
.nav-link{
  color:black !important
}
